<div class="area"></div><nav class="main-menu">
    <ul>
        <li class="mt-5">
            <a href="{{ path('app_dashboard') }}">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                         Dashboard Modules
                        </span>
            </a>
        </li>
        <li class="mt-5">
            <a href="{{ path('app_new') }}">
                <i class="fa fa-plus fa-2x"></i>
                <span class="nav-text">
                            Nouveau Modules
                        </span>
            </a>
        </li>
    </ul>
</nav>

